<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
  </head>
  <body>
    <!--- This includes a partial template -->
    <% include partials/nav.ejs %>
    <h1>WELCOME !</h1>
    <p>Example of query strings using <a href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9gcy9lrvMJ75z9maRw4byYp">Net Ninja Tutorials</a></p>
  </body>
</html>
