<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
  </head>
  <body>
    <!--- This includes a partial template -->
    <% include partials/nav.ejs %>
    <h1>Contact</h1>
    <p>Contact me!</p>
  </body>
</html>
