<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
    <style media="screen">
      body{background-color: blue; color: white; padding: 30px; text-align: center;}
      h1{font-size: 50px;}
    </style>
  </head>
  <body>
    <!--- This includes a partial template -->
    <% include partials/nav.ejs %>
    <h1>WELCOME !</h1>
    <p>Welcome to partial-templating using ejs</p>
  </body>
</html>
